.board{
    border: solid 1px transparent;
    height: 1030px;
    width: 1030px;
    display: inline-block;
    margin-top: 50px;
    padding: 0 0;
}

.box{
    border: solid 1px transparent;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: -3px;
}

.sky {
    background-color: lightskyblue;
}

.tree {
    background-image: url('../PIC/tree.png');
}

.earth{
    background-image: url('../PIC/dirt.png');
}

.leaf{
    background-image: url('../PIC/leaf.png');
}

.rock{
    background-image: url('../PIC/rock.png');
}

.title{
   height: 100px;
    margin-left: 500px;
}


.tool{
    height: 50px;
    width: 50px;
    background-color: grey;
    margin-right: 100px;
    margin-top: 30px;
    border: 1px black solid;
    text-align: center;
}

.imgtools{
    height: 15px;
    width: auto;
}

.texttool{
    font-family: Arial;
    font-size: 10px;
}
.currentbackground{
}


.tool.selected {
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
}

.tool.error{
    border: 1px solid red;
    background-color: red;
}

#popup {

    display: absolute;
    font-size: 50px;
    background-size: cover;
    background-position: center;
    text-align: center;

}

.msg {
    font-family: Arial;
    font-size: 16px;
    color: deeppink;

}

.popupOff{
    display: none;
}
